<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<!--   <display-name>jspPro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
    <context-param>
  <description>sample1</description>
  <param-name>pname</param-name>
  <param-value>1012</param-value>
  </context-param>
  <context-param>
   <description>sample2</description>
  <param-name>debug</param-name>
  <param-value>true</param-value>
  </context-param>
   -->
  <!-- <error-page>
  <error-code>404</error-code>
  <location>/chap05/error/error404.jsp</location>
  </error-page>
  
  <error-page>
  <error-code>500</error-code>
  <location>/chap05/error/error500.jsp</location>
  </error-page>
  
  <error-page> type 이 우선순이 1
  <exception-type>java.lang.NumberFormatException</exception-type>
  <location>/chap05/error/errorNumberFormat.jsp</location>
  </error-page> -->

  <jsp-config>
  
  <!-- taglib>
  <taglib-uri>
  /WEB-INF/tlds/el-functions.tld
  </taglib-uri>
  <taglib-location>
  /WEB-INF/tlds/el-functions.tld
  </taglib-location>
  </taglib>
  
   <jsp-property-group>
       <url-pattern>/chap09/oldversion/*</url-pattern>
       <el-ignored>true</el-ignored>
       </jsp-property-group>
   -->
    <jsp-property-group>
       <url-pattern>/chap08/*</url-pattern>
       <include-prelude>/common/head.jsp</include-prelude>
       <include-coda>/common/footer.jsp</include-coda>
    </jsp-property-group>
    
  </jsp-config>
  
  <servlet>
  
  <servlet-name>now</servlet-name>
  <servlet-class>chap11.NowServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  <servlet-name>now</servlet-name>
  <url-pattern>/now</url-pattern>
  
  </servlet-mapping>
  
  
  <servlet>
  
  <servlet-name>path</servlet-name>
  <servlet-class>chap12.ControllerUsingURI</servlet-class>
  <init-param>
  <param-name>configFile</param-name>
  <param-value>/WEB-INF/commandHandler.properties</param-value>
  </init-param>
  </servlet>
  
  
  <servlet-mapping>
  <servlet-name>path</servlet-name>
  <url-pattern>/member/*</url-pattern> <!--/project명/member/aaaa  -->
    </servlet-mapping>
  
  
  
  
  
</web-app>